node_modules
public
npm-debug.log*
*.log
rev-manifest.json
typings/*
**/.DS_Store
po/*.mo
dist

# Idea user related configs
.idea
.idea/workspace.xml
.idea/tasks.xml
.idea/shelf/
**/idea/shelf/
yti-datamodel-ui.iml
