<div class="content-box">

  <h1>Tietomallit</h1>

  <p>
    Tietomallieditori on semanttisten tietomallien ylläpito- ja julkaisupalvelu. Se sisältää toimijoille yhteiset
    tiedon harmonisointiin tarkoitetut tietomääritykset, joita kutsutaan tietokomponenttikirjastoiksi. Lisäksi editoria
    hyödynnetään käyttötarvekohtaisesti esimerkiksi rajapintojen tai tietovarantojen tietosisältöjen hallinnassa.
  </p>

  <p>
    Tietomallieditori julkaistaan käyttöön tammikuussa 2018. Kehitystyö jatkuu yhteistyössä käyttäjien kanssa.
  </p>

  <p>
    Tietomallieditori on tarkoitettu

    <ul>
      <li>organisaation tietovastaaville</li>
      <li>tietoarkkitehdeille ja tietomallintajille</li>
      <li>jokaiselle, joka etsii tietoa julkisen hallinnon tietovarannoista</li>
      <li>järjestelmätoimittajille, joka järjestelmäkehitystyötä varten tarvitsee tietoa julkisen hallinnon tietovarannoista tai niiden tietorakenteista ja sisällöistä.</li>
    </ul>
  </p>

  <p>
    Tietomallieditorilla

    <ul>
      <li>mahdollistetaan nykyaikaisten digitaalisten palveluiden taustalla tarvittava tiedon semanttisen yhteentoimivuuden huomioiva tietomallinnus</li>
      <li>kuvataan tietosisältöjä tavalla, jossa tiedon merkitys voidaan sanastojen avulla määritellä ja tunnisteiden avulla koneluettavasti välittää</li>
      <li>luodaan rajattuja tietomäärityskokonaisuuksia, niin kutsuttuja soveltamisprofiileja, jotka kuvaavat tietojärjestelmän tietosisällön, esimerkiksi rajapinnan toteutukseen.</li>
      <li>tietomallieditorilla luodaan sisältöjä, jotka ovat avointa linkitettyä dataa</li>
    </ul>
  </p>

  <p>
    Mitä hyötyä Tietomallieditorista on?

    <ul>
      <li>Tietomallit mahdollistavat tiedon semanttisen yhteentoimivuuden formaalilla tavalla</li>
      <li>Tietosisällöt ovat sekä ihmis- että koneluettavia</li>
      <li>Tietosisällöt ovat avoimesti nähtävillä ja hyödynnettävissä sopimusehtojen mukaisesti</li>
      <li>mahdollistaa toimijoiden kollaboratiivisen työskentelyn tietomallinnuksessa</li>
      <li>toimijat voivat hyödyntää omassa työssään jo olemassa olevia, harmonisoituja tietosisältöjä</li>
      <li>mahdollistaa tietosisältöjen linkittämisen ja sitä kautta tiedon linkittämisen toimijoiden valitsemiin kansainvälisiin tai muihin standardeihin</li>
    </ul>
  </p>

</div>
