<div class="content-box">

  <h1 style="margin-bottom: 40px">Tietoa Tietomalleista</h1>

  <p>
    Tietomallit-työkalu on semanttisten tietomallien ylläpito- ja julkaisupalvelu. Se on yksi neljästä Yhteentoimivuusalustan työkalusta (Sanastot, Koodistot, Tietomallit ja Kommentit).  Työkalu sisältää toimijoille yhteiset tiedon harmonisointiin tarkoitetut tietomääritykset, joita kutsutaan tietokomponenttikirjastoiksi. Lisäksi työkalua hyödynnetään esimerkiksi rajapintojen tai tietovarantojen tietosisältöjen hallinnassa.
  </p>
  <p>
    Tietomallit-työkalulla organisaatio kuvaa omien tietojärjestelmiensä ja rajapintojensa sisältöä ja rakenteita ns. soveltamisprofiileina.
  </p>

  <p>
    Tietomallit-työkalu julkaistiin tammikuussa 2018. Kehitystyö jatkuu yhteistyössä käyttäjien kanssa.
  </p>

  <h2>Tietomallit-työkalu on tarkoitettu</h2>

  <ul>
    <li>organisaation tietovastaaville</li>
    <li>tietoarkkitehdeille ja tietomallintajille</li>
    <li>jokaiselle, joka etsii tietoa julkisen hallinnon tietovarannoista</li>
    <li>järjestelmätoimittajille, jotka tarvitsevat järjestelmäkehitystyötä varten tietoa julkisen hallinnon tietovarannoista tai niiden tietorakenteista ja sisällöistä</li>
  </ul>

  <h2>Tietomallit-työkalu</h2>

  <ul>
    <li>mahdollistaa nykyaikaisten digitaalisten palveluiden taustalla tarvittavan tiedon semanttisen yhteentoimivuuden huomioivan tietomallinnuksen</li>
    <li>työkalulla kuvataan tietosisältöjä tavalla, jossa tiedon merkitys voidaan määritellä sanastojen avulla</li>
    <li>luodaan rajattuja tietomäärityskokonaisuuksia, niin kutsuttuja soveltamisprofiileja, jotka kuvaavat tietojärjestelmän tietosisällön, esimerkiksi rajapinnan toteutukseen</li>
    <li>Tietomallit-työkalulla luodaan sisältöjä, jotka ovat avointa linkitettyä dataa</li>
  </ul>

  <h2>Hyödyt käyttäjille</h2>

  <ul>
    <li>Tietomallit mahdollistavat tiedon semanttisen yhteentoimivuuden formaalilla tavalla</li>
    <li>Tietosisällöt ovat sekä ihmis- että koneluettavia</li>
    <li>Tietosisällöt ovat avoimesti nähtävillä ja hyödynnettävissä sopimusehtojen mukaisesti</li>
    <li>Työkalu mahdollistaa toimijoiden yhteistyön tietomallinnuksessa</li>
    <li>Toimijat voivat hyödyntää omassa työssään jo olemassa olevia, harmonisoituja tietosisältöjä</li>
    <li>Tietomallit-työkalu mahdollistaa tietosisältöjen linkittämisen ja sitä kautta tiedon linkittämisen toimijoiden valitsemiin kansainvälisiin tai muihin standardeihin</li>
  </ul>

  <h2>Miten voin liittyä työkalun käyttäjäksi?</h2>

  <p>
    Tietomallit-työkalua voi käyttää verkossa osoitteesta <a id="service_link" href="https://tietomallit.suomi.fi" target="_blank" rel="noopener noreferrer">https://tietomallit.suomi.fi</a>.
    Tietojen muokkaus edellyttää organisaatiokohtaisia käyttöoikeuksia.
  </p>

  <h2>Katso myös</h2>

  <ul>
    <li>
      <a id="interoperability_site_link" href="https://yhteentoimiva.suomi.fi" target="_blank" rel="noopener noreferrer">yhteentoimiva.suomi.fi</a>
    </li>
    <li>
      Yhteentoimivuusalustan julkinen dokumentaatio Confluencessa
      <ul>
        <li><a id="service_initialization_link" href="https://wiki.dvv.fi/pages/viewpage.action?pageId=21779517" target="_blank" rel="noopener noreferrer">Palvelun käyttöönotto</a></li>
        <li><a id="service_instructions_link" href="https://wiki.dvv.fi/pages/viewpage.action?pageId=21783347" target="_blank" rel="noopener noreferrer">Käyttöohjeet</a></li>
      </ul>
    </li>
  </ul>

   <h2>Ota yhteyttä</h2>

   <p>Sähköpostilla osoitteeseen yhteentoimivuus[at]dvv.fi.</p>

</div>
