<form name="form" class="search-predicate">

  <div class="modal-header  no-padding-bottom">
    <h4 class="modal-title">

      <div>
        <span>{{('Add ' + $ctrl.type) | translate}}</span>
      </div>
    </h4>
    <model-language-chooser class="pull-right mr-4"
                            context="$ctrl.model"></model-language-chooser>
    <a><i ng-click="$dismiss('cancel')" class="fas fa-times"></i></a>
  </div>

  <div class="modal-body" style="min-height: 400px;">
    <div class="search-table-modal-search-row">

      <text-filter class="search-row-search-text"
                   search-text="$ctrl.searchText"
                   search-controller="$ctrl"
                   content-extractors="$ctrl.contentExtractors"
                   placeholder="'search ' + $ctrl.type"></text-filter>

      <div class="search-row-selections">
        <content-filter class="search-row-content-selection"
                        search-controller="$ctrl"
                        content-matchers="$ctrl.contentMatchers"
                        content-extractors="$ctrl.contentExtractors"></content-filter>
      </div>

      <excluded-filter search-controller="$ctrl"
                       search-text="$ctrl.searchText"
                       exclude="$ctrl.filterExclude"></excluded-filter>
    </div>

    <div class="row flex-shrink-0">
      <div class="col-12 limit-select-widths">
        <model-filter class="pull-left mr-2 mb-2"
                      search-controller="$ctrl"
                      type="predicate"
                      model="$ctrl.model"
                      model-type="$ctrl.showModelType"></model-filter>

        <type-filter class="pull-left mr-2 mb-2"
                     search-controller="$ctrl"
                     ng-show="$ctrl.typeSelectable"
                     label="Predicate type"
                     default-type="$ctrl.type"></type-filter>

        <select id="predicate_information_domain_filter_dropdown"
                class="form-control pull-left mr-2 mb-2"
                style="width: auto"
                ng-model="$ctrl.showInfoDomain"
                ng-options="(infoDomain.label | translateValue: $ctrl.model) for infoDomain in $ctrl.infoDomains">
          <option value="" translate>All information domains</option>
        </select>

        <select id="predicate_model_type_filter_dropdown"
                class="form-control pull-left mr-2 mb-2"
                style="width: auto"
                ng-model="$ctrl.showModelType"
                ng-options="(modelType | translate) for modelType in $ctrl.modelTypes">
          <option value="" translate>All types</option>
        </select>

        <select id="predicate_status_filter_dropdown"
                class="form-control pull-left mb-2"
                style="width: auto"
                ng-model="$ctrl.showStatus"
                ng-options="(status | translate) for status in $ctrl.statuses">
          <option value="" translate>All statuses</option>
        </select>
      </div>
    </div>

    <div class="content-box search-results-table-container">
      <ajax-loading-indicator ng-if="$ctrl.loadingResults"></ajax-loading-indicator>
      <app-search-predicate-table-modal-content ng-if="!$ctrl.loadingResults" [sort-by]="$ctrl.sortBy" [model]="$ctrl.model"
                                                [filter-exclude]="$ctrl.filterExclude"
                                                [search-text]="$ctrl.searchText" [search-results]="$ctrl.searchResults"
                                                [selected-item]="$ctrl.selectedItem" [selection]="$ctrl.selection"
                                                (item-selected)="$ctrl.selectItem($event)"
                                                [exclude]="$ctrl.exclude"
                                                [type]="$ctrl.type">
      </app-search-predicate-table-modal-content>
    </div>
  </div>

  <div class="modal-footer">

    <button id="confirm_predicate_button"
            type="button"
            class="btn btn-action confirm"
            ng-click="$ctrl.confirm()"
            ng-disabled="!$ctrl.selection || $ctrl.cannotConfirm || (form.editing && (form.$invalid || form.$pending))">
      {{'Use ' + $ctrl.type | translate}}
    </button>

    <button id="create_predicate_button"
            type="button"
            class="btn btn-secondary-action"
            ng-click="$ctrl.createNew($ctrl.type)"
            ng-show="$ctrl.canAddNew()">
      + {{'New ' + $ctrl.type | translate}}
    </button>

    <div class="pull-right dropup" uib-dropdown>
      <button id="{{'predicate_' + $ctrl.selection.id + '_actions_button'}}" class="btn btn-language dropdown-toggle"
              ng-disabled="!$ctrl.isSelectionPredicate()" uib-dropdown-toggle>
        <span translate>Actions</span>
      </button>

      <div uib-dropdown-menu class="dropdown-menu-right" aria-labelledby="{{'predicate_' + $ctrl.selection.id + '_actions_button'}}">
        <button id="{{'copy_predicate_' + $ctrl.selection.id + '_button'}}"
                class="dropdown-item"
                ng-click="$ctrl.copyPredicate($ctrl.selection)">
          {{'Copy ' + $ctrl.type | translate}}
        </button>
        <button id="{{'create_sub_predicate_' + $ctrl.selection.id + '_button'}}"
                class="dropdown-item"
                ng-click="$ctrl.createSubPredicate($ctrl.selection)">
          {{'Create sub ' + $ctrl.type | translate}}
        </button>
        <button id="{{'create_super_predicate_' + $ctrl.selection.id + '_button'}}"
                class="dropdown-item"
                ng-click="$ctrl.createSuperPredicate($ctrl.selection)">
          {{'Create super ' + $ctrl.type | translate}}
        </button>
      </div>
    </div>

    <button type="button" class="btn btn-link cancel" ng-click="$ctrl.close()" translate>Cancel</button>

    <div class="alert alert-danger" role="alert" ng-show="$ctrl.cannotConfirm">
      <span class="fas fa-exclamation-circle" aria-hidden="true"></span>
      <span>{{$ctrl.cannotConfirm | translate}}</span>
    </div>

    <button id="add_namespace_to_model_button"
            class="btn btn-secondary-action"
            ng-click="$ctrl.addNamespaceToModel($ctrl.selectedItem)"
            ng-show="$ctrl.notDefinedByThisModel($ctrl.selectedItem)"
            translate>
      Add namespace to model
    </button>
  </div>
</form>
