<form name="form" class="search-predicate">

  <div class="modal-header  no-padding-bottom">
    <h4 class="modal-title">

      <div>
        <span>{{('Add ' + $ctrl.type) | translate}}</span>
      </div>
    </h4>
    <model-language-chooser class="pull-right mr-4"
                            context="$ctrl.model"></model-language-chooser>
    <a><i ng-click="$dismiss('cancel')" class="fas fa-times"></i></a>
  </div>

  <div class="modal-body full-height-table">
    <div class="row mb-2">
      <div class="col-12">

        <text-filter class="pull-left"
                     search-text="$ctrl.searchText"
                     search-controller="$ctrl"
                     content-extractors="$ctrl.contentExtractors"
                     placeholder="'search ' + $ctrl.type"></text-filter>

        <div class="pull-left mt-2 ml-2">
          <content-filter search-controller="$ctrl"
                          content-matchers="$ctrl.contentMatchers"
                          content-extractors="$ctrl.contentExtractors"></content-filter>
        </div>

        <excluded-filter search-controller="$ctrl"
                         search-text="$ctrl.searchText"
                         exclude="$ctrl.filterExclude"></excluded-filter>
      </div>
    </div>

    <div class="row mb-2">
      <div class="col-12">
        <model-filter class="pull-left mr-2"
                      search-controller="$ctrl"
                      type="predicate"
                      model="$ctrl.model"></model-filter>

        <type-filter class="pull-left mr-2"
                     search-controller="$ctrl"
                     ng-show="$ctrl.typeSelectable"
                     label="Predicate type"
                     default-type="$ctrl.type"></type-filter>

        <select id="predicate_information_domain_filter_dropdown"
                class="form-control pull-left mr-2"
                style="width: auto"
                ng-model="$ctrl.showInfoDomain"
                ng-options="(infoDomain.label | translateValue: $ctrl.model) for infoDomain in $ctrl.infoDomains">
          <option value="" translate>All information domains</option>
        </select>

        <select id="predicate_model_type_filter_dropdown"
                class="form-control pull-left mr-2"
                style="width: auto"
                ng-model="$ctrl.showModelType"
                ng-options="(modelType | translate) for modelType in $ctrl.modelTypes">
          <option value="" translate>All types</option>
        </select>

        <select id="predicate_status_filter_dropdown"
                class="form-control pull-left"
                style="width: auto"
                ng-model="$ctrl.showStatus"
                ng-options="(status | translate) for status in $ctrl.statuses">
          <option value="" translate>All statuses</option>
        </select>
      </div>
    </div>

    <div class="row full-height">

      <div class="col-md-12">

        <div class="content-box">

          <div class="search-results-table table-container">

            <ajax-loading-indicator ng-if="$ctrl.loadingResults"></ajax-loading-indicator>

            <table ng-if="!$ctrl.loadingResults" class="table table-sm" width="100%">
              <thead>
                <tr>
                  <th class="name-col">
                    <sort-by-column-header header-text="'Name'"
                                          column-name="'name'"
                                          model="$ctrl.model"
                                          sort-by="$ctrl.sortBy"
                                          filter-exclude="$ctrl.filterExclude"></sort-by-column-header>
                  </th>
                  <th class="model-col">
                    <sort-by-column-header header-text="'Model'"
                                          column-name="'model'"
                                          model="$ctrl.model"
                                          sort-by="$ctrl.sortBy"
                                          filter-exclude="$ctrl.filterExclude"></sort-by-column-header>
                  </th>
                  <th class="description-col">
                    <sort-by-column-header header-text="'Description'"
                                          column-name="'description'"
                                          model="$ctrl.model"
                                          sort-by="$ctrl.sortBy"
                                          filter-exclude="$ctrl.filterExclude"></sort-by-column-header>
                  </th>
                  <th class="modified-at-col">
                    <sort-by-column-header header-text="'Modified at'"
                                          column-name="'modifiedAt'"
                                          model="$ctrl.model"
                                          sort-by="$ctrl.sortBy"
                                          filter-exclude="$ctrl.filterExclude"></sort-by-column-header>
                  </th>
                  <th class="menu-col"></th>
                </tr>
              </thead>
              <tbody>

                <tr ng-repeat="searchResult in $ctrl.searchResults"
                    id="{{$ctrl.generateSearchResultID(searchResult)}}"
                    ng-class="['search-result', {active: $ctrl.isSelected(searchResult), disabled: $ctrl.isDisabled(searchResult)} ]"
                    ng-click="$ctrl.selectItem(searchResult)"
                    title="{{$ctrl.itemTitle(searchResult)}}"
                    key-control-selection>
                  <td class="name-col">
                    <div>
                      <i class="glyph-icon" ng-class="searchResult.glyphIconClass"></i>
                      <ajax-loading-indicator-small ng-if="$ctrl.loadingSelection(searchResult)"></ajax-loading-indicator-small>
                      <highlight text="searchResult.label" context="$ctrl.model" search="$ctrl.searchText"></highlight>
                    </div>
                    <a ng-href="{{$ctrl.model.linkToResource(searchResult.id)}}" target="_blank" ng-bind-html="searchResult.id.compact | highlight: $ctrl.searchText"></a>
                    <div style="padding-top: 5px">
                      <app-status [status]="searchResult.status"></app-status>
                    </div>
                  </td>
                  <td class="model-col">
                    <div>
                      <highlight text="searchResult.definedBy.label" context="$ctrl.model" search="$ctrl.searchText"></highlight>
                    </div>
                    <div ng-if="searchResult.definedBy.normalizedType">
                      {{searchResult.definedBy.normalizedType | translate}}
                    </div>
                    <div>
                      <span class="information-domains">
                        <span class="badge badge-light" ng-repeat="infoDomain in searchResult.definedBy.classifications">
                            {{$ctrl.showItemValue(infoDomain.label)}}
                        </span>
                      </span>
                    </div>
                  </td>
                  <td class="description-col">
                    <highlight text="searchResult.comment" context="$ctrl.model" search="$ctrl.searchText"></highlight>
                  </td>
                  <td class="modified-at-col">
                    {{$ctrl.showItemValue(searchResult.modifiedAt)}}
                  </td>
                  <td class="menu-col">
                    <div class="pull-right" uib-dropdown>
                      <button id="{{'predicate_' + searchResult.id + '_actions_button'}}" class="btn btn-language dropdown-toggle" uib-dropdown-toggle>
                        <span>...</span>
                      </button>

                      <div uib-dropdown-menu class="dropdown-menu-right" aria-labelledby="{{'predicate_' + searchResult.id + '_actions_button'}}">
                        <ajax-loading-indicator-small ng-if="!$ctrl.isSelectionPredicate()"></ajax-loading-indicator-small>
                        <button id="{{'show_predicate_info_' + searchResult.id + '_button'}}"
                                class="dropdown-item"
                                ng-click="$ctrl.showPredicateInfo()"
                                ng-if="$ctrl.isSelectionPredicate()">
                          {{('Show ' + $ctrl.type + ' information') | translate}}
                        </button>
                        <button id="{{'copy_predicate_' + searchResult.id + '_button'}}"
                                class="dropdown-item"
                                ng-click="$ctrl.copyPredicate(searchResult)">
                          {{'Copy ' + $ctrl.type | translate}}
                        </button>
                        <button id="{{'create_sub_predicate_' + searchResult.id + '_button'}}"
                                class="dropdown-item"
                                ng-click="$ctrl.createSubPredicate(searchResult)">
                          {{'Create sub ' + $ctrl.type | translate}}
                        </button>
                        <button id="{{'create_super_predicate_' + searchResult.id + '_button'}}"
                                class="dropdown-item"
                                ng-click="$ctrl.createSuperPredicate(searchResult)">
                          {{'Create super ' + $ctrl.type | translate}}
                        </button>
                      </div>
                    </div>
                  </td>
                <tr>

              </tbody>
            </table>

          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="modal-footer">

    <button id="confirm_predicate_button"
            type="button"
            class="btn btn-action confirm"
            ng-click="$ctrl.confirm()"
            ng-disabled="!$ctrl.selection || $ctrl.cannotConfirm || (form.editing && (form.$invalid || form.$pending))">
      {{'Use ' + $ctrl.type | translate}}
    </button>

    <button id="create_predicate_button"
        type="button"
        class="btn btn-secondary-action"
        ng-click="$ctrl.createNew($ctrl.type)"
        ng-show="$ctrl.canAddNew()">
      + {{'New ' + $ctrl.type | translate}}
    </button>

    <button type="button" class="btn btn-link cancel" ng-click="$ctrl.close()" translate>Cancel</button>

    <div class="alert alert-danger" role="alert" ng-show="$ctrl.cannotConfirm">
      <span class="fas fa-exclamation-circle" aria-hidden="true"></span>
      <span>{{$ctrl.cannotConfirm | translate}}</span>
    </div>
  </div>
</form>
