<form name="form" class="search-class">

  <div class="modal-header">
    <h4 class="modal-title">      
      <span ng-show="$ctrl.onlySelection" translate>Select class</span>
      <span ng-hide="$ctrl.onlySelection" translate>Add class</span>
    </h4>
    <model-language-chooser class="pull-right mr-4"
                            context="$ctrl.model"></model-language-chooser>
    <a><i id="close_class_table_modal_button" ng-click="$dismiss('cancel')" class="fas fa-times"></i></a>
  </div>

  <div class="modal-body full-height">
    <div class="row mb-2">
      <div class="col-12">

        <text-filter class="pull-left"
                     search-text="$ctrl.searchText"
                     search-controller="$ctrl"
                     content-extractors="$ctrl.contentExtractors"
                     placeholder="'search class'"></text-filter>

        <div class="pull-left mt-2 ml-2">
          <content-filter search-controller="$ctrl"
                          content-matchers="$ctrl.contentMatchers"
                          content-extractors="$ctrl.contentExtractors"></content-filter>
        </div>

        <select id="class_information_domain_filter_dropdown"
                class="form-control pull-left ml-2"
                style="width: auto"
                ng-model="$ctrl.showInfoDomain"
                ng-options="(infoDomain.label | translateValue: $ctrl.model) for infoDomain in $ctrl.infoDomains">
          <option value="" translate>All information domains</option>
        </select>

        <select id="class_model_type_filter_dropdown"
                class="form-control pull-left ml-2"
                style="width: auto"
                ng-model="$ctrl.showModelType"
                ng-options="(modelType | translate) for modelType in $ctrl.modelTypes">
          <option value="" translate>All types</option>
        </select>        

        <select id="class_status_filter_dropdown"
                class="form-control pull-left ml-2"
                style="width: auto"
                ng-model="$ctrl.showStatus"
                ng-options="(status | translate) for status in $ctrl.statuses">
          <option value="" translate>All statuses</option>
        </select>
      </div>
    </div>

    <div class="row mb-2">
      <div class="col-12">
        <model-filter class="pull-left"
                      search-controller="$ctrl"
                      type="class"
                      model="$ctrl.model"
                      default-show="$ctrl.defaultToCurrentModel ? $ctrl.model : null"></model-filter>

        <div class="pull-left mt-2 ml-2">
          <profile-filter search-controller="$ctrl"
                          only-selection="$ctrl.onlySelection"></profile-filter>
        </div>

        <excluded-filter search-controller="$ctrl"
                         search-text="$ctrl.searchText"
                         exclude="$ctrl.exclude"></excluded-filter>
      </div>
    </div>
    
    <div ng-if="$ctrl.isSelectionExternalEntity()">      
      
      <h4 class="mt-4" translate>Create shape from external URI</h4>
      
      <div class="row">
        <div class="col-md-4">

          <editable data-title="External URI" context="$ctrl.model" autofocus>
            <div class="input-group input-group-md">
              <input id="externalUri" type="text" class="form-control" required uri-input="required-namespace" model="$ctrl.model" ng-model="$ctrl.selection.id" />
            </div>
          </editable>

        </div>

        <div class="col-md-4">

          <div ng-if="$ctrl.externalClass === null">
            <editable data-title="Class label" context="$ctrl.model">
              <input type="text" class="form-control" string-input="label" required ng-model="$ctrl.selection.label" />
            </editable>
          </div>

          <div ng-if="$ctrl.externalClass">
            <non-editable data-title="Class label" value="$ctrl.externalClass.label" context="$ctrl.model"></non-editable>
          </div>

        </div>
      </div>

      <h4 class="mt-4" translate>Search existing class</h4>
    </div>

    <div class="row full-height">

      <div class="col-md-12">

        <div class="content-box">

          <div class="search-results">

            <ajax-loading-indicator ng-if="$ctrl.loadingResults"></ajax-loading-indicator>

            <table ng-if="!$ctrl.loadingResults" class="table" width="100%">
              <thead>
              <tr>
                <th style="width: 20%" translate>Name</th>
                <th style="width: 20%" translate>Model</th>
                <th style="width: 45%" translate>Description</th>
                <!-- <th style="width: 20%" translate>Super class</th> YLÄLUOKKAA EI VIELÄ TOTEUTETA, KOSKA SITÄ TIETOA EI OLE OLEMASSA VIELÄ. -->
                <th style="width: 10%" translate>Modified at</th>
                <th style="width: 5%"></th>
              </tr>
              </thead>
              <tbody>

                <tr ng-repeat="searchResult in $ctrl.searchResults"
                    id="{{$ctrl.generateSearchResultID(searchResult)}}"
                    ng-class="['search-result', {active: $ctrl.isSelected(searchResult), disabled: $ctrl.isDisabled(searchResult)} ]"
                    ng-click="$ctrl.selectItem(searchResult)"
                    key-control-selection>

                  <td>
                    <div>
                      <ajax-loading-indicator-small ng-if="$ctrl.loadingSelection(searchResult)"></ajax-loading-indicator-small>
                      <highlight text="searchResult.label" context="$ctrl.model" search="$ctrl.searchText"></highlight>
                    </div>
                    <a ng-href="{{$ctrl.model.linkToResource(searchResult.id)}}" target="_blank" ng-bind-html="searchResult.id.compact | highlight: $ctrl.searchText"></a>
                    <div style="padding-top: 5px">
                      <app-status [status]="searchResult.status"></app-status>
                    </div>                  
                  </td>
                  <td>
                    <div>
                      <highlight text="searchResult.definedBy.label" context="$ctrl.model" search="$ctrl.searchText"></highlight>
                    </div>
                    <div ng-if="searchResult.definedBy.normalizedType">
                      {{searchResult.definedBy.normalizedType | translate}}
                    </div>
                    <div>
                      <span class="information-domains">
                        <span class="badge badge-light" ng-repeat="infoDomain in searchResult.definedBy.classifications">
                            {{$ctrl.showItemValue(infoDomain.label)}}
                        </span>
                      </span>  
                    </div>
                  </td>
                  <td>
                    <highlight text="searchResult.comment" context="$ctrl.model" search="$ctrl.searchText"></highlight>
                  </td>
                  <!-- <td>
                    {{searchResult.}}
                  </td> -->
                  <td>
                    {{$ctrl.showItemValue(searchResult.modifiedAt)}}
                  </td>
                  <td>

                  </td>
                <tr>

              </tbody>
            </table>

          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal-footer">

    <button id="confirm_class_button"
            type="button"
            class="btn btn-action confirm"
            ng-click="$ctrl.confirm()"
            ng-disabled="!$ctrl.selection || $ctrl.cannotConfirm || (form.editing && (form.$invalid || form.$pending)) || $ctrl.isExternalClassPending()">
      {{$ctrl.textForSelection($ctrl.selection) | translate}}
    </button>

    <button id="create_class_button"
            type="button"
            class="btn btn-secondary-action"
            ng-click="$ctrl.createNewClass()"
            ng-show="$ctrl.canAddNew()"> 
      + <span translate>New class</span>
    </button>
    
    <button id="create_shape_button"
        type="button"
        class="btn btn-secondary-action"
        ng-click="$ctrl.createNewShape()"
        ng-show="$ctrl.canAddNewShape()"
        ng-disabled="$ctrl.isSelectionExternalEntity()"> 
      + <span translate>Shape from URI</span>      
    </button>

    <button id="cancel_class_table_modal_button" type="button" class="btn btn-link cancel" ng-click="$ctrl.close()" translate>Cancel</button>

    <div class="alert alert-danger" role="alert" ng-show="$ctrl.cannotConfirm">
      <span class="fas fa-exclamation-circle" aria-hidden="true"></span>
      <span>{{$ctrl.cannotConfirm | translate}}</span>
    </div>
  </div>
</form>
