<form name="form" class="search-class">

  <div class="modal-header no-padding-bottom">
    <h4 class="modal-title">
      <span ng-show="$ctrl.onlySelection" translate>Select class</span>
      <span ng-hide="$ctrl.onlySelection" translate>Add class</span>
    </h4>
    <model-language-chooser class="pull-right mr-4"
                            context="$ctrl.model"></model-language-chooser>
    <a><i id="close_class_table_modal_button" ng-click="$dismiss('cancel')" class="fas fa-times"></i></a>
  </div>

  <div class="modal-body" style="min-height: 400px;">
    <div class="search-table-modal-search-row">
      <text-filter class="search-row-search-text"
                   search-text="$ctrl.searchText"
                   search-controller="$ctrl"
                   content-extractors="$ctrl.contentExtractors"
                   placeholder="'search class'"></text-filter>

      <div class="search-row-selections">
        <content-filter class="search-row-content-selection"
                        search-controller="$ctrl"
                        content-matchers="$ctrl.contentMatchers"
                        content-extractors="$ctrl.contentExtractors"></content-filter>

        <div class="search-row-target-selection" ng-hide="$ctrl.onlySelection && !$ctrl.isModelProfile()">
          <label translate>Include:</label>
          <label ng-hide="$ctrl.onlySelection">
            <input type="checkbox" ng-model="$ctrl.showProfiles">
            {{'Classes defined in profiles' | translate}}
          </label>
          <label ng-if="$ctrl.isModelProfile()">
            <input type="checkbox" ng-model="$ctrl.showOnlyExternalClasses">
            {{'External classes' | translate}}
          </label>
        </div>
      </div>

      <excluded-filter search-controller="$ctrl"
                       search-text="$ctrl.searchText"
                       exclude="$ctrl.filterExclude"></excluded-filter>
    </div>

    <div class="row flex-shrink-0">
      <div class="col-12 limit-select-widths">

        <model-filter class="pull-left mr-2 mb-2"
                      search-controller="$ctrl"
                      type="class"
                      model="$ctrl.model"
                      default-show="$ctrl.defaultToCurrentModel ? 'definedByThis' : null"
                      hide-this-model='$ctrl.showOnlyExternalClasses'></model-filter>

        <select id="class_information_domain_filter_dropdown"
                class="form-control pull-left mr-2 mb-2"
                style="width: auto"
                ng-disabled="$ctrl.showOnlyExternalClasses"
                ng-model="$ctrl.showInfoDomain"
                ng-options="(infoDomain.label | translateValue: $ctrl.model) for infoDomain in $ctrl.infoDomains">
          <option value="" translate>All information domains</option>
        </select>

        <select id="class_type_filter_dropdown"
                class="form-control pull-left mr-2 mb-2"
                style="width: auto"
                ng-disabled="$ctrl.showOnlyExternalClasses"
                ng-model="$ctrl.showClassType"
                ng-options="(classType | translate) for classType in $ctrl.classTypes">
          <option value="" translate>All class types</option>
        </select>

        <!-- This is not in use at the moment. -->
        <select id="class_model_type_filter_dropdown"
                class="form-control pull-left mr-2 mb-2"
                style="width: auto"
                ng-if="false"
                ng-disabled="$ctrl.showOnlyExternalClasses"
                ng-model="$ctrl.showModelType"
                ng-options="(modelType | translate) for modelType in $ctrl.modelTypes">
          <option value="" translate>All types</option>
        </select>

        <select id="class_status_filter_dropdown"
                class="form-control pull-left mb-2"
                style="width: auto"
                ng-disabled="$ctrl.showOnlyExternalClasses"
                ng-model="$ctrl.showStatus"
                ng-options="(status | translate) for status in $ctrl.statuses">
          <option value="" translate>All statuses</option>
        </select>
      </div>
    </div>

    <div class="flex-shrink-0" ng-if="$ctrl.isSelectionExternalEntity()">

      <h4 class="mt-4" translate>Create shape from external URI</h4>

      <div class="row">
        <div class="col-md-4">

          <editable data-title="External URI" context="$ctrl.model" autofocus>
            <div class="input-group input-group-md">
              <input id="externalUri" type="text" class="form-control" required uri-input="required-namespace" model="$ctrl.model"
                     ng-model="$ctrl.selection.id"/>
            </div>
          </editable>

        </div>

        <div class="col-md-4">

          <div ng-if="$ctrl.externalClass === null">
            <editable data-title="Class label" context="$ctrl.model">
              <input type="text" class="form-control" string-input="label" required ng-model="$ctrl.selection.label"/>
            </editable>
          </div>

          <div ng-if="$ctrl.externalClass">
            <non-editable data-title="Class label" value="$ctrl.externalClass.label" context="$ctrl.model"></non-editable>
          </div>

        </div>
      </div>

      <h4 class="mt-4" translate>Search existing class</h4>
    </div>

    <div class="content-box search-results-table-container">
      <ajax-loading-indicator ng-if="$ctrl.loadingResults"></ajax-loading-indicator>
      <app-search-class-table-modal-content ng-if="!$ctrl.loadingResults" [sort-by]="$ctrl.sortBy" [model]="$ctrl.model"
                                            [filter-exclude]="$ctrl.filterExclude"
                                            [search-text]="$ctrl.searchText" [search-results]="$ctrl.searchResults"
                                            [selected-item]="$ctrl.selectedItem" [selection]="$ctrl.selection"
                                            [show-only-external-classes]="$ctrl.showOnlyExternalClasses"
                                            (item-selected)="$ctrl.selectItem($event)"
                                            [exclude]="$ctrl.exclude">
      </app-search-class-table-modal-content>
    </div>
  </div>

  <div class="modal-footer">

    <button id="confirm_class_button"
            type="button"
            class="btn btn-action confirm"
            ng-click="$ctrl.confirm()"
            ng-disabled="!$ctrl.selection || $ctrl.cannotConfirm || (form.editing && (form.$invalid || form.$pending)) || $ctrl.isExternalClassPending()">
      {{$ctrl.textForSelection($ctrl.selection) | translate}}
    </button>

    <button id="create_class_button"
            type="button"
            class="btn btn-secondary-action"
            ng-click="$ctrl.createNewClass()"
            ng-show="$ctrl.canAddNew()">
      + <span translate>New class</span>
    </button>

    <button id="create_shape_button"
            type="button"
            class="btn btn-secondary-action"
            ng-click="$ctrl.createNewShape()"
            ng-show="$ctrl.canAddNewShape()"
            ng-disabled="$ctrl.isSelectionExternalEntity()">
      + <span translate>Shape from URI</span>
    </button>

    <div class="pull-right dropup" uib-dropdown>
      <button id="{{'class_' + $ctrl.selection.id + '_actions_button'}}" class="btn btn-language dropdown-toggle"
              ng-disabled="!$ctrl.showActions($ctrl.selection)" uib-dropdown-toggle>
        <span translate>Actions</span>
      </button>
      <div uib-dropdown-menu class="dropdown-menu-right" aria-labelledby="{{'class_' + $ctrl.selection.id + '_actions_button'}}"
           ng-if="$ctrl.selection">
        <button id="{{'copy_class_' + $ctrl.selection.id + '_button'}}"
                class="dropdown-item"
                ng-click="$ctrl.copyClass($ctrl.selection)"
                translate>
          Copy class
        </button>
        <button id="{{'create_sub_class_' + $ctrl.selection.id + '_button'}}"
                class="dropdown-item"
                ng-click="$ctrl.createSubClass($ctrl.selection)"
                translate>
          Create sub class
        </button>
        <button id="{{'create_super_class_' + $ctrl.selection.id + '_button'}}"
                class="dropdown-item"
                ng-click="$ctrl.createSuperClass($ctrl.selection)"
                translate>
          Create super class
        </button>
      </div>
    </div>

    <button id="cancel_class_table_modal_button" type="button" class="btn btn-link cancel" ng-click="$ctrl.close()" translate>
      Cancel</button>

    <div class="alert alert-danger" role="alert" ng-show="$ctrl.cannotConfirm">
      <span class="fas fa-exclamation-circle" aria-hidden="true"></span>
      <span>{{$ctrl.cannotConfirm | translate}}</span>
    </div>

    <button id="add_namespace_to_model_button"
            class="btn btn-secondary-action"
            ng-click="$ctrl.addNamespaceToModel($ctrl.selectedItem)"
            ng-show="$ctrl.cannotConfirm"
            translate>
      Add namespace to model
    </button>

  </div>
</form>
