<div class="component">

  <div class="component-header">
    <h3>
      <span ng-class="ctrl.editableController.getEditable().glyphIconClass"></span>
      <span>{{ctrl.editableController.getEditable() | translateLabel: ctrl.model}}</span>
    </h3>
  </div>

  <div class="component-content">
    <editable-entity-buttons context="ctrl.model" editable-controller="ctrl.editableController">
      <div ng-transclude="buttons"></div>
    </editable-entity-buttons>

    <div class="selection-form">
      <div ng-transclude="content"></div>
    </div>
  </div>
</div>
