
<div class="row">
  <div class="col-12">
    <button ng-if="$ctrl.showChangeSubject()"
            id="{{$ctrl.id + '_change_concept_button'}}"
            type="button"
            class="btn btn-link pull-right"
            ng-disabled="!$ctrl.entity.inUnstableState"
            ng-click="$ctrl.changeSubject()">
      <span translate>Change concept</span>
    </button>
  </div>
</div>

<div class="row">
  <div class="col-12">

    <div ng-if="!$ctrl.entity.subject" class="concept-box">
      <h5 translate>No concept defined</h5>
    </div>

    <div ng-if="$ctrl.entity.subject" class="concept-box">

        <h5>
          <i class="fas fa-lightbulb"></i>
          <span>{{$ctrl.entity.subject | translateLabel: $ctrl.model}}</span>
        </h5>

        <div class="row">
          <div class="col-md-12">
              <non-editable data-title="Concept definition" value="$ctrl.entity.subject.definition"
                            context="$ctrl.model"></non-editable>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <non-editable data-title="Concept status" value="$ctrl.entity.subject.status" value-as-localization-key="true"
                          context="$ctrl.model"></non-editable>
          </div>
          <div class="col-md-4">
            <non-editable-vocabulary vocabulary="$ctrl.entity.subject.vocabulary"
                                     context="$ctrl.model"
                                     link="$ctrl.conceptLink"></non-editable-vocabulary>
          </div>
          <div class="col-md-4">
            <non-editable data-title="Concept modified at" value="$ctrl.entity.subject.modifiedAt" context="$ctrl.model"></non-editable>
          </div>
        </div>
    </div>

  </div>
</div>
