<div uib-dropdown class="pull-right" ng-hide="$ctrl.isEditing()">

  <button ng-attr-id="{{$ctrl.getId('dropdown')}}" class="btn btn-action dropdown-toggle" uib-dropdown-toggle>
    <span translate>Export</span>
  </button>

  <div uib-dropdown-menu>
    <div class="dropdown-header">{{'Show' | translate | uppercase}}</div>

    <a ng-repeat="download in $ctrl.downloads track by download.name"
       ng-attr-id="{{$ctrl.getId('show_' + download.name)}}"
       class="dropdown-item"
       target="_blank"
       ng-href="{{download.hrefRaw}}"
       ng-click="download.onClick()">
      {{download.name | translate}}
    </a>

    <div class="dropdown-divider"></div>

    <div class="dropdown-header">{{'Download' | translate | uppercase}}</div>

    <a ng-repeat="download in $ctrl.downloads track by download.name"
       ng-attr-id="{{$ctrl.getId('download_' + download.name)}}"
       class="dropdown-item"
       target="_self"
       download="{{download.filename}}"
       ng-href="{{download.href}}"
       ng-click="download.onClick()">
      {{download.name | translate}}
    </a>

  </div>

</div>
