<!--FIXME figure out better css and remove inline styles -->

<div class="modal-header">
  <h4 class="modal-title">
    <a><i ng-click="$dismiss('cancel')" class="fas fa-times"></i></a>
    <span translate>Historical versions</span>
  </h4>
</div>

<div class="modal-body" style="height: calc(100vh - 225px)">

  <div class="row mb-2">
    <div class="col-12">
      <model-language-chooser class="pull-right" context="$ctrl.model"></model-language-chooser>
      <export ng-if="$ctrl.selection"  id-prefix="'history'" class="pull-right mr-2" entity="$ctrl.selection" context="$ctrl.model"></export>
    </div>
  </div>


  <div style="float: left; width: 300px; height: calc(100% - 40px); border: 1px solid #A5ACB0">
    <div class="selectable-items" style="height: 100%">
      <ul style="height: 100%; overflow-y: auto">
        <li ng-repeat="version in $ctrl.versions track by version.id"
            id="{{version.id}}"
            ng-class="{'selection': $ctrl.isSelected(version)}"
            ng-click="$ctrl.select(version)">
          {{version.createdAt | localizedDate}}
          <span ng-if="$ctrl.showAuthor">
              <br />
              {{version.createdBy}}
            </span>
          <ajax-loading-indicator-small ng-if="$ctrl.isLoading(version)"></ajax-loading-indicator-small>
        </li>
      </ul>
    </div>
  </div>

  <div style="float: left; width: calc(100% - 300px); height: calc(100% - 40px); padding-left: 20px;">
    <form class="editable-form">
      <div ng-if="$ctrl.selection" style="height: 100%; overflow-x: hidden">
        <model-form id="'model_history'" ng-if="$ctrl.selection.isOfType('model')" model="$ctrl.selection"></model-form>
        <class-form id="class_history" ng-if="$ctrl.selection.isClass()" class="$ctrl.selection" old-class="$ctrl.selection" model="$ctrl.model" open-property-id="openPropertyId"></class-form>
        <predicate-form id="predicate_history" ng-if="$ctrl.selection.isPredicate()" predicate="$ctrl.selection" old-predicate="$ctrl.selection" model="$ctrl.model"></predicate-form>
      </div>
    </form>
  </div>

</div>

<div class="modal-footer">
  <button class="btn btn-link" type="button" ng-click="$dismiss('cancel')" translate>Close</button>
</div>
