<div class="modal-header" ng-class="$ctrl.headerClass">
  <h4 class="modal-title">
    <a title="Close" data-dismiss="modal"><i id="cancel_modal_template_link" ng-click="$dismiss('cancel')" class="fas fa-times"></i></a>
    <div ng-transclude="title"></div>
  </h4>
</div>

<div class="modal-body">
  <div ng-transclude="body"></div>
</div>

<div class="modal-footer">
  <div ng-transclude="buttons"></div>
  <div ng-if="$ctrl.defaultButtons">
    <button id="confirm_modal_template_button" class="btn btn-action confirm" type="button" ng-click="$close()" translate>Yes</button>
    <button id="cancel_modal_template_button" class="btn btn-link" type="button" ng-click="$dismiss('cancel')" translate>Cancel</button>
  </div>
</div>
