<accordion open-id="ctrl.open">
  <accordion-group identifier="'default'">
    <accordion-heading>
      <h5 class="mb-0">
        <a href>
          <accordion-chevron is-open="isOpen()"></accordion-chevron>
          <span>{{'Usage' | translate}}</span>
        </a>
      </h5>
    </accordion-heading>
    <accordion-body>
      <ajax-loading-indicator ng-if="ctrl.loading"></ajax-loading-indicator>
      <div ng-if="!loading">
        <usage ng-show="ctrl.hasReferrers()" usage="ctrl.usage" show-links="true" context="ctrl.context"></usage>
        <p ng-hide="ctrl.loading || ctrl.hasReferrers()" translate>No referrers</p>
      </div>
    </accordion-body>
  </accordion-group>
</accordion>
