<div class="editable-wrap">
  <div style="clear: both">
    <editable-label ng-show="$ctrl.model.rootClass || $ctrl.isEditing()" data-title="'Root class'"></editable-label>
    <span ng-show="$ctrl.isEditing() && !$ctrl.model.rootClass" translate>Not selected</span>
    <span ng-if="$ctrl.model.rootClass">{{$ctrl.model.rootClass.compact}}</span>
  </div>
  <button ng-show="$ctrl.isEditing()" type="button" class="btn btn-action btn-sm" ng-click="$ctrl.selectClass()" translate>Choose root class</button>
  <button ng-show="$ctrl.isEditing() && $ctrl.model.rootClass" type="button" class="btn btn-action btn-sm" ng-click="$ctrl.removeClass()" translate>Clear selection</button>
</div>
