<div class="content-box">
  <form name="ctrl.form" class="editable-form">
    <fieldset ng-disabled="ctrl.persisting">

      <div class="top-actions">
        <button type="button"
                class="btn btn-link pull-right cancel"
                ng-click="ctrl.cancel()">
          <span translate>Cancel</span>
        </button>

        <button type="button"
                class="btn btn-action pull-right save"
                ng-click="ctrl.save()"
                ng-disabled="!ctrl.isValid() || ctrl.form.$pending">
          <span translate>Save</span>
        </button>
      </div>

      <div class="row">
        <div class="col-lg-5">

          <editable data-title="{{ctrl.type + ' label' | capitalize}}" context="ctrl.context" autofocus>
            <input id="modelLabel" class="form-control" type="text" autocomplete="off" required ng-model="ctrl.label" />
          </editable>

          <editable data-title="Description" context="ctrl.context">
            <textarea id="modelComment" class="form-control" autocomplete="off" ng-model="ctrl.comment"></textarea>
          </editable>

          <editable-multiple-language-select data-title="Model languages" id="modelLanguage" ng-model="ctrl.languages" required="true"></editable-multiple-language-select>

          <editable data-title="Prefix" context="ctrl.context">
            <input id="modelPrefix" class="form-control" type="text" ng-model="ctrl.prefix" autocomplete="off" required />
          </editable>

          <non-editable data-title="Namespace" context="ctrl.context" value="ctrl.namespace"></non-editable>

        </div>

        <div class="col-lg-6 offset-lg-1">
          <classifications-view value="ctrl" context="ctrl.context"></classifications-view>
          <contributors-view value="ctrl" context="ctrl.context"></contributors-view>
        </div>
      </div>

    </fieldset>
  </form>
</div>
