<div class="content-box">
  <form name="$ctrl.form" class="editable-form">

    <div class="row header">
      <div class="col-12">
        <h2>
          <span>{{'Add new ' + $ctrl.type | translate}}</span>
        </h2>
      </div>
    </div>

    <fieldset ng-disabled="$ctrl.persisting">

      <div class="top-actions">
        <button id="cancel_new_model_button"
                type="button"
                class="btn btn-link pull-right cancel"
                ng-click="$ctrl.cancel()">
          <span translate>Cancel</span>
        </button>

        <button id="save_new_model_button"
                type="button"
                class="btn btn-action pull-right save"
                ng-click="$ctrl.save()"
                ng-disabled="!$ctrl.isValid() || $ctrl.form.$pending">
          <span translate>Save</span>
        </button>
      </div>

      <div class="row">
        <div class="col-lg-5">

          <editable data-title="{{$ctrl.type + ' label' | capitalize}}" context="$ctrl.context" autofocus>
            <input id="modelLabel" class="form-control" type="text" autocomplete="off" required ng-model="$ctrl.label" />
          </editable>

          <editable data-title="Description" context="$ctrl.context">
            <textarea id="modelComment" class="form-control" autocomplete="off" ng-model="$ctrl.comment"></textarea>
          </editable>

          <editable-multiple-language-select data-title="Model languages" id="modelLanguage" ng-model="$ctrl.languages" required="true"></editable-multiple-language-select>

          <editable data-title="Prefix" context="$ctrl.context">
            <input id="modelPrefix" class="form-control" type="text" prefix-input
                   reserved-prefixes-getter="$ctrl.importedPrefixes"
                   ng-model="$ctrl.prefix"
                   autocomplete="off"
                   required />
          </editable>

          <app-use-context-input ng-model="$ctrl.useContext" [editing]="true" [model-type]="$ctrl.type"></app-use-context-input>

          <editable data-title="Contact label" context="$ctrl.context">
            <p translate>Please note that the content of this field is public. Don't use personal contact information!</p>
            <textarea id="modelContact" class="form-control" localized-input autocomplete="off" ng-model="$ctrl.contact"></textarea>
          </editable>
        </div>

        <div class="col-lg-6 offset-lg-1">
          <classifications-view value="$ctrl" required="true"></classifications-view>
          <contributors-view value="$ctrl" context="$ctrl.context" required="true"></contributors-view>
          <vocabularies-view value="$ctrl" context="$ctrl.context"></vocabularies-view>
          <reference-datas-view value="$ctrl" context="$ctrl.context"></reference-datas-view>
          <imported-namespaces-view value="$ctrl"
                                    context="$ctrl.context"
                                    allow-profiles="$ctrl.allowProfiles"
                                    namespaces-in-Use="$ctrl.namespacesInUse"
                                    model-prefix="$ctrl.prefix || ''"></imported-namespaces-view>
          <links-view value="$ctrl" context="$ctrl.context"></links-view>
        </div>
      </div>

    </fieldset>
  </form>
</div>
