@import '~yti-common-ui/theme/variables';

$enabledColor: $primary;

@mixin class-visualization() {

  .enabled {
    background-color: $enabledColor;
  }

  .link-tools .tool-remove { display: none }
  .link-tools .tool-options { display: none }
  .link .mark-errors { display: none; }
  .marker-arrowheads { display: none; }
  .uml-class-methods-rect { display: none }

  text {
    font-family: $font-family-sans-serif;
    font-weight: normal;
  }

  .uml-class-name-text {
    fill: $white;
  }

  .uml-class-name-rect {
    fill: $primary;
    stroke: none;
  }

  .uml-class-attrs-rect {
    fill: $gray-200;
    stroke: none;
    stroke-width: 1px;
  }

  .joint-type-uml-class {
    &.background {
      fill-opacity: 0.3;
    }

    > g.shadow .uml-class-name-rect {
      fill: $gray-700;
    }

    &.selected {
      .uml-class-name-rect {
        fill: $brand-color;
      }

      .uml-class-attrs-rect {
        stroke: $brand-color;
      }

      .uml-class-name-rect {
        stroke: $brand-color;
      }
    }
  }

  .joint-link.background {
    fill-opacity: 0.3;

    path {
      stroke: $gray;
    }
  }
}
