@import '~@fortawesome/fontawesome-free-webfonts/scss/variables';
@import '~yti-common-ui/theme/init';
@import './mixin';
@import '~jointjs/dist/joint.css';
@import './interactiveHelp';
@import './classVisualization';

$page-padding: 20px;

nav.navbar {
  padding-left: $page-padding;
  padding-right: $page-padding;
}

.container-fluid {
  padding: 20px $page-padding;
  background-color: $light;
  border-top: 1px solid $gray;

  &.without-footer {
    border-bottom: 0;
    padding-bottom: 0;
  }
}

[hidden], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

h4, .h4 {
  // TODO consider more generic overwrite in theme variables $h4-font-size
  font-size: 1.00625rem;
  font-weight: bold;
}

.dropdown-menu-right {
  right: 0;
  left: auto;
}

.breadcrumb {
  border: none;
  font-size: 10px;
  font-weight: 400;
  margin-bottom: 0;
}

ul.errors {
  border-left: 5px solid $danger;
  padding-left: 15px;
  margin-bottom: 0;

  li {
    list-style-type: none;
  }

  li:before {
    content: '\b7\a0';
  }
}


.nav-item.logged-in {

  text-align: right;
  margin-bottom: -10px;

  > a {
    padding-top: 0;
  }

  > span {
    color: $body-color;
    padding-right: 10px;
  }
}

img.svg-icon {
  width: 14px;
}

input[type=checkbox][disabled] + span {
  text-decoration: line-through;
}

visualization-view ajax-loading-indicator {

  display: inline-block;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: $white;

  .uil-default-css, img {
    top: calc(50% - 100px);
    left: calc(50% - 100px);
  }
}

.classification {

  display: inline-block;
  width: 100%;
  padding: 5px 10px 5px 5px;
  cursor: pointer;
  border-left: $active-indicator-width solid $white;

  &:hover, &.active {
    border-left: $active-indicator-width solid $primary;
  }

  &.active {
    font-weight: 500;
  }

  .name {
    float: left;
  }

  .count {
    float: right;
    color: $primary;
  }
}

.model {

  display: inline-block;
  width: 100%;
  padding: 5px 10px 5px 5px;
  cursor: pointer;
  border-left: $active-indicator-width solid $white;

  &:hover {
    border-left: $active-indicator-width solid $primary;
  }

  .name {
    color: $primary;
    font-size: large;
    float: left;
    clear: left;
    width: calc(100% - 300px);
  }

  @mixin info() {
    float: right;
    clear: right;
    color: $gray-700;
  }

  .organization {
    @include info;
  }

  .group {
    @include info;
  }

  .type {
    @include info;
  }
}

.input-group.input-group-search {

  position: relative !important;

  .form-control {
    padding-right: 3rem !important;

    &:focus {
      outline: 0 none;
    }
  }

  &:before {
    color: $gray-600;
    content: $fa-var-search;
    font-family: "Font Awesome 5 Free";
    top: 10px;
    right: 15px;
    font-size: $font-size-lg;
    position: absolute;
    z-index: 10;
  }
}

.modal-body {
  .input-group-search {
    width: 400px;
  }

  .content-box {
    height: 100%;
    padding: 0;
    margin: 0;
  }

  .search-results, form {
    height: 100%;
    overflow-y: auto;

    .search-result {
      &.add-new {
        background-color: lighten($primary, 52%);
      }
    }
  }
}

.modal-footer {
  .alert {
    margin-bottom: 0;
    border: 0;
  }
}

.search-results {
  .no-search-results {
    padding: 15px;
  }
}


[float] {
  will-change: scroll-position;
}

.floating {
  position: fixed;
  backface-visibility: hidden;

  &.always {
    position: fixed !important;
    backface-visibility: hidden !important;
  }

  &.no-floating {
    position: inherit !important;
    backface-visibility: inherit !important;
  }

  @media (max-width: map-get($grid-breakpoints, md)) {
    position: inherit;
    backface-visibility: inherit !important;
  }
}

.selectable-items {

  padding: 5px 15px;

  ul {

    $button-height: 42px;
    $buttonless-height: 82px;

    overflow-y: auto;
    height: calc(100vh - #{$buttonless-height});
    padding: 0;
    margin-bottom: 0;

    &.has-button {
      height: calc(100vh - #{$buttonless-height + $button-height});
    }

    li {
      cursor: pointer;
      padding: 5px 5px 5px 10px;
      margin: 0;
      font-size: 14px;
      list-style: none;

      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      border-left: $active-indicator-width solid $white;

      &.selection {
        font-weight: bold;
      }

      &:hover, &.selection {
        border-left: $active-indicator-width solid $primary;
      }
    }
  }
}

model-page {

  $left-width: 300px;

  .content-box.main {
    padding-bottom: 0;
    border-bottom: none;
  }

  .top {
    margin-bottom: 20px;
  }

  .bottom {
    padding-top: 20px;
    border-top: 1px solid $gray;
  }

  .panel-left {

    width: $left-width;
    float: left;

    .selection-box {
      border: 1px solid $gray;

      &.floating {
        border-bottom: none;
      }

      ul.nav-tabs {

        padding: 0;
        width: 100%;
        margin: 10px 0;

        .nav-item {

          margin-left: 10px;
          margin-right: 10px;

          > a {
            font-size: small;
            padding: 5px 0;

            > p {
              margin-bottom: 10px;
            }
          }
        }
      }

      .selectable-actions {
        text-align: center;
        padding: 0 15px;
      }
    }
  }

  .panel-right {
    width: calc(100% - #{$left-width});
    float: right;
    padding-left: 10px;

    div.selection-container {
      float: left;

      .component-header {

        padding: 9px 15px;
        font-size: 26px;
        height: 53px;

        h3 {
          margin: 0;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          line-height: 35px;
          font-weight: bold;
        }
      }

      .component-content {
        padding: 15px;
        min-height: calc(100vh - 130px);

        property-view .row {
          padding-right: 10px;
        }

        .property-ordering {
          position: absolute;
          left: 50%;

          span {
            font-size: xx-small;
            position: absolute;
            padding: 10px;
            top: -45px;
            left: -10px;
            color: $gray;
          }
          span:hover {
            cursor: move;
          }
        }
      }
    }

    div.visualization-container {

      float: right;
      $divider-width: 10px;

      divider {
        display: inline-block;
        float: left;
        height: calc(100vh - 5px);
        width: $divider-width;

        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        &:hover {
          cursor: col-resize;
          border: 1px dashed;
        }

        > div {
          width: 100%;
          height: 100%;
        }
      }

      visualization-view {

        float: left;
        display: inline-block;
        width: calc(100% - 10px);
        height: calc(100vh - 5px);
        border: 1px solid $gray;

        &.without-divider {
          width: 100%;
        }

        &.maximized {
          position: fixed;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }

        class-visualization {

          width: 100%;
          height: 100%;
          display: inline-block;
          position: relative;

          @include class-visualization();

          .paper {
            z-index: 10;
          }

          .visualization-buttons {

            z-index: 20;
            position: absolute;
            left: 10px;
            top: 10px;
            width: calc(100% - 20px);

            .btn-secondary-action {
              background-color: $white;
            }

            .focus-indicator {
              @include no-select;
              display: inline-block;
              height: 29px;
              width: 30px;
              line-height: 29px;
              background-color: $gray-100;
              border: 1px solid $gray-300;
              color: $black;
              text-align: center;
              vertical-align: middle;
            }
          }

          visualization-context-menu {

            position: absolute;

            .dropdown-menu {
              display: inline-block;
              position: relative;
            }
          }
        }

      }
    }
  }

  model-view {

    .header {

      a {
        color: $body-color;
        text-decoration: none !important;
      }

      h2 {

        float: left;
        width: calc(100% - 200px);
        padding-left: 10px;
        margin: 10px 0 10px 0;

        > span {
          max-width: calc(100% - 35px);
          line-height: 25px;
          display: inline-block;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          padding-bottom: 10px;
          margin-bottom: -10px;
        }
      }
    }
  }
}

editable-state-select {
  .non-editable {
    vertical-align: middle;
    line-height: 2.6;
    padding: 0 5px 0 5px;
  }
}

reference-data-view.popup {

  h4 { display: none; }

  width: 100%;
  overflow-y: auto;
  display: inline-block;
}

.fas.info {
  color: $primary;
  font-size: small;
}

.fas-asterisk {
  color: $danger;
  font-size: small;
}

div.input-popup > .dropdown-menu {

  will-change: scroll-position;
  z-index: 1105 !important;
  display: inline-block !important;
  max-height: 400px;
  overflow-y: auto;

  li {
    iow-selectable-item-transclude, span.content {
      overflow-x: hidden;
      width: 100%;
      display: inline-block;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}

iow-select {
  @include no-select;
  cursor: default;
}

table.editable-table {

  border: none;

  a:hover {
    cursor: pointer;
  }

  [draggable=true] {
    cursor: move;
  }

  tr {
    &.collapsed {
      visibility: collapse;
      line-height: 0;

      td {
        padding-top: 0;
        padding-bottom: 0;
        border: 0;
        line-height: 0;
      }
    }

    &.dragged {
      background-color: $body-bg;
      border: 1px dashed $warning;

      td {
        span { color: $body-bg };
        a { color: $body-bg };
        border-top: 1px dashed $warning;
        border-bottom: 1px dashed $warning;
      }

      &.droppable {
        border-color: $black;
        td {
          border-color: $black;
        }
      }
    }
  }

  td.prefix, th.prefix {
    width: 100px;
  }

  th {
    border-top: none;

    &.action {
      width: 20px;
    }
  }

  td.action {
    width: 20px;

    i {
      visibility: hidden;
      line-height: 0;
    }

    &.editable {
      cursor: pointer;

      i {
        visibility: inherit;
        line-height: inherit;
      }
    }

    &:hover {
      color: $primary;
    }
  }

  tfoot.expander {
    text-align: center;
    cursor: pointer;
    font-size: medium;

    &:hover {
      background-color: #f5f5f5; // TODO
    }

    td {
      padding: 0;
      border-top: 1px solid #ddd; // TODO
      line-height: 1;
    }
  }

}

.multi-input {

  min-height: 2.7735em;
  padding: 0;
  display: inline-block;
  margin-bottom: -5px;

  [draggable=true] {
    cursor: move;
  }

  .added-item {

    display: inline-block;
    float: left;

    .drop-target {
      width: 5px;
      margin-top: 5px;
      height: 25px;
      display: inline-block;
      float: left;


      &.visible {
        border: 1px dashed $black;
      }

      &.active {
        background-color: $black;
      }
    }

    .box {
      padding: 5px 4px;
      margin: 5px 0 0 5px;
      line-height: 12px;
      font-size: 12px;
      background-color: $light;
      border-radius: 2px;
      border: 1px solid $gray;
      display: inline-block;
      float: left;

      &.dragged.droppable {
        border-color: black;
      }

      &.dragged {
        background-color: $white;
        border: 1px dashed $warning;
        color: $white;

        .delete-item {
          background-color: $white;
          color: $white;
        }
      }

      &.has-error {
        border-color: $danger;
      }

      .delete-item {
        display: inline-block;
        cursor: pointer;
        padding: 0 2px;
        border-radius: 10px;
        font-size: 100%;
        margin-left: 5px;
        background-color: $gray-300;
      }

      .delete-item:hover {
        background-color: $gray-500;
      }
    }
  }

  input {
    display: inline-block;
    float: left;
    line-height: 1.5;
    font-size: 0.9375rem;
    padding: 8.8px;
    border: 0;

    &::placeholder {
      color: $input-placeholder-color;
      font-style: italic;
      font-size: small;
      font-weight: 600;
    }
  }

  input:focus {
    outline: 0;
    box-shadow: 0;
  }
}

.concept-box {
  border: 1px solid $gray;
  background-color: lighten($primary, 52%);
  padding: 15px 15px 0 15px;
  margin-bottom: 15px;
}

accordion {

  $height: 35px;

  display: inline-block;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 100%;

  .card {

    border: 1px solid $white;

    &.show {
      border: 1px solid $gray-300;
      margin-bottom: 5px;
    }
  }

  accordion-group {
    display: inline-block;
    width: 100%;
  }

  .card-header {
    background-color: $light;
    border: none;
    padding: 0;
    margin-bottom: 5px;
    height: $height;
    cursor: pointer;

    h5, .fas {
      line-height: $height;
      padding-left: 10px;
      padding-right: 10px;
    }

    accordion-chevron, [accordion-chevron] {
      font-size: x-large;
    }

    a:hover {
      text-decoration: none;
    }
  }

  .dragged {
    background-color: $body-bg !important;
    color: $body-bg;
    border: 1px dashed $warning;

    &.droppable {
      border-color: black;
    }
  }
}

.accordion-icon {
  margin-right: 10px;
}

$input-select: 80px;

.input-select {
  width: $input-select;
}

.range-input {

  @include clearfix;

  editable {
    float: left;
    width: calc(50% + 7.5px);
    padding-right: 15px;
  }

  editable:last-child {
    width: calc(50% - 7.5px);
    padding-right: 0;
  }
}

.editable-wrap {

  word-wrap: break-word;
  margin-bottom: 15px;

  label {
    font-weight: bold;
    font-size: 14px;
    padding: 0;
    display: block;
  }

  input:not([type="checkbox"]), select, textarea {
    width: 100%;
  }

  button {
    margin-top: 10px;
  }

  textarea {
    height: 117px;
  }

  .content {
    padding-right: 10px;
  }

  .form-control {

    &.with-button {
      width: calc(100% - #{$input-select});
    }
  }
}

ajax-loading-indicator-small {
  float: right;
  padding-right: 10px
}

.top-actions {

  @include clearfix;
  background-color: white;
  margin-bottom: 20px;

  p.button-label {
    padding-top: 8px;
  }

  button {
    margin: 0 0 0 10px !important;
  }

  app-ajax-loading-indicator-small {
    margin-top: 10px;
  }
}

.help-selection {

  overflow-y: auto;

  // XXX: Same as .search-result ?
  .help.story-line {
    font-size: small;
    cursor: pointer;
    border: 1px solid $light;
    margin-bottom: 10px;
    padding: 10px;
    box-shadow: 2px 2px 2px $light;
  }
}

body.visualization-maximized {
  overflow: hidden !important;
}
