<div class="modal-header">
  <h4 class="modal-title">
    <a><i id="close_advanced_search_button" ng-click="$dismiss('cancel')" class="fas fa-times"></i></a>
    <span translate>Advanced search</span>
  </h4>
</div>

<div class="modal-body full-height">

  <div class="row mb-2">
    <div class="col-12">
      <text-filter class="pull-left"
                   search-text="$ctrl.searchText"
                   search-controller="$ctrl"
                   content-extractors="$ctrl.contentExtractors"
                   placeholder="'Search'"></text-filter>

      <model-language-chooser class="pull-right" context="$ctrl.context"></model-language-chooser>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-12">
      <types-filter search-controller="$ctrl"></types-filter>
    </div>
  </div>

  <div class="row full-height">
    <div class="col-12">
      <div class="content-box">
        <div class="search-results">

          <ajax-loading-indicator ng-if="$ctrl.loadingResults"></ajax-loading-indicator>

          <div ng-show="$ctrl.searchText && $ctrl.searchResults.length === 0 && !$ctrl.loadingResults" translate>No search results</div>

          <div ng-repeat="searchResult in $ctrl.searchResults track by searchResult.id"
               class="search-result"
               id="{{searchResult.id + '_advanced_search_result'}}"
               ng-click="$ctrl.selectSearchResult(searchResult)"
               key-control-selection>

            <div class="content" ng-class="{last: $last}">

              <span class="title">
                <i ng-class="searchResult.glyphIconClass"></i>
                <highlight text="searchResult.label" context="$ctrl.context" search="$ctrl.searchText"></highlight>
              </span>

              <span class="body">
                <highlight text="searchResult.comment" context="$ctrl.context" search="$ctrl.searchText"></highlight>
              </span>

              <div class="origin">
                <span class="pull-left">{{searchResult.definedBy | translateLabel: $ctrl.context}}</span>
                <span class="pull-right" ng-bind-html="searchResult.id.compact | highlight: $ctrl.searchText"></span>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal-footer">
  <button id="cancel_advanced_search_button" type="button" class="btn btn-link cancel" ng-click="$ctrl.close()" translate>Cancel</button>
</div>
