<ajax-loading-indicator ng-if="$ctrl.loading"></ajax-loading-indicator>

<div class="yti-tool-front-page" ng-if="!$ctrl.loading">

  <div class="pull-right" id="add-new-datamodel" uib-dropdown ng-if="$ctrl.canAddModel()">
    <button id="model_creation_button" class="btn btn-action" uib-dropdown-toggle>
      <span translate>Add model</span>
    </button>

    <div uib-dropdown-menu class="dropdown-menu-right" aria-labelledby="model_creation_button">
      <button id="add_library_button" class="dropdown-item" ng-click="$ctrl.addLibrary()" translate>ADD_LIBRARY_BUTTON_TEXT</button>
      <button id="add_profile_button" class="dropdown-item" ng-click="$ctrl.addProfile()" translate>ADD_PROFILE_BUTTON_TEXT</button>
    </div>
  </div>

  <div class="tool-info"><p translate>ToolInfo</p></div>

  <div>
    <span class="search-label" translate>Search model</span>
    <span class="fas fa-info-circle info" uib-tooltip="{{'INFO_TEXT_FRONTPAGE_SEARCH' | translate}}"></span>
  </div>
  <div class="row">
    <div class="col-md-6 mb-3">
      <div class="input-group input-group-lg input-group-search">
        <input id="front_page_search_input"
               class="form-control"
               type="text"
               ng-model="$ctrl.search"
               placeholder="{{'Search term (model name)' | translate}}" />
      </div>
      <a id="advanced_search_link" href="#" ng-click="$ctrl.openAdvancedSearch()" translate>Advanced search</a>
    </div>
  </div>

  <div>
    <span class="search-label" translate>Filter with information domain</span>
    <span class="fas fa-info-circle info" uib-tooltip="{{'INFO_TEXT_FRONTPAGE_FILTER_W_CLASSIFICATION' | translate}}"></span>
  </div>
  <div class="row">

    <div class="col-md-4">
      <div class="information-domain-container">
        <div class="content-box">        
          <div id="{{classification.node.id + '_classification_filter_link'}}"
              ng-repeat="classification in $ctrl.classifications"
              class="information-domain"
              ng-class="{ active: $ctrl.isClassificationSelected(classification.node) }"
              ng-click="$ctrl.toggleClassification(classification.node)">
              <img ng-src="{{$ctrl.informationDomainIconSrc(classification.node.identifier)}}" />
              <span class="name">{{classification.node.label | translateValue}}</span>
            <span class="count">({{classification.count}})</span>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-8">

      <div class="content-box result-list-container">

        <div class="row mb-4">
          <div class="col-md-12 result-list-filter-row">

            <span class="search-label search-label-inline with-info" translate>Filter results</span>
            <div style="padding-left: 0.2rem">
              <span class="fas fa-info-circle info" uib-tooltip="{{'INFO_TEXT_FRONTPAGE_FILTER_RESULTS' | translate}}"></span>
            </div>

            <div class="result-list-filter-dropdowns">
              <app-filter-dropdown id="organization_filter_dropdown"
                                  [options]="$ctrl.organizations"
                                  [filter-subject]="$ctrl.organization$"></app-filter-dropdown>

              <app-filter-dropdown id="model_type_filter_dropdown"
                                  [options]="$ctrl.modelTypes"
                                  [filter-subject]="$ctrl.modelType$"></app-filter-dropdown>

              <app-filter-dropdown id="model_status_filter_dropdown"
                                  [options]="$ctrl.statuses"
                                  [filter-subject]="$ctrl.status$"></app-filter-dropdown>
            </div>
          </div>
        </div>

        <div class="row mb-4">
          <div class="col-md-12">
            <div>
              {{$ctrl.filteredModels.length}}
              <span ng-show="$ctrl.filteredModels.length === 1" translate>result</span>
              <span ng-show="$ctrl.filteredModels.length !== 1" translate>results</span>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="result-list-item" ng-repeat="model in $ctrl.filteredModels">
              <span class="type">
                <i class="material-icons {{$ctrl.modelTypeIconDef(model.normalizedType).colorClass}}">{{$ctrl.modelTypeIconDef(model.normalizedType).name}}</i>
                {{model.normalizedType | translate}}
              </span>

              <app-status class="status" [status]="model.status"></app-status>

              <a id="{{model.prefix + '_filtered_model_link'}}" class="name" href="#" ng-click="$ctrl.selectModel(model)">{{model.label | translateValue}}</a>

              <div ng-if="model.comment | translateValue" class="description-component-container">
                <app-expandable-text [text]="model.comment | translateValue"></app-expandable-text>
              </div>

              <span class="information-domains">
                <span class="badge badge-light" ng-repeat="classification in model.classifications">
                    {{classification.label | translateValue}}
                </span>
              </span>             

              <ul class="organizations dot-separated-list">
                <li class="organization" ng-repeat="organization in model.contributors">
                  {{organization.label | translateValue}}
                </li>
              </ul>

            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
