<ajax-loading-indicator ng-if="$ctrl.loading"></ajax-loading-indicator>

<div ng-if="!$ctrl.loading">

  <div class="pull-right" id="add-new-datamodel" uib-dropdown ng-if="$ctrl.canAddModel()">
    <button id="model_creation_button" class="btn btn-action" uib-dropdown-toggle>
      <span translate>Add model</span>
    </button>

    <div uib-dropdown-menu class="dropdown-menu-right" aria-labelledby="model_creation_button">
      <button id="add_library_button" class="dropdown-item" ng-click="$ctrl.addLibrary()" translate>Add library</button>
      <button id="add_profile_button" class="dropdown-item" ng-click="$ctrl.addProfile()" translate>Add profile</button>
    </div>
  </div>

  <div class="tool-info"><p translate>ToolInfo</p></div>

  <div class="row">
    <div class="col-md-6 mb-3">
      <div class="input-group input-group-lg input-group-search">
        <input id="front_page_search_input"
               class="form-control"
               type="text"
               ng-model="$ctrl.search"
               placeholder="{{'Search' | translate}}" />
      </div>
      <a id="advanced_search_link" href="#" ng-click="$ctrl.openAdvancedSearch()" translate>Advanced search</a>
    </div>
  </div>

  <div class="row">

    <div class="col-md-4">
      <div class="content-box">
        <h4 class="strong" translate>Classification</h4>

        <div id="{{classification.node.id + '_classification_filter_link'}}"
             ng-repeat="classification in $ctrl.classifications"
             class="classification"
             ng-class="{ active: $ctrl.isClassificationSelected(classification.node) }"
             ng-click="$ctrl.toggleClassification(classification.node)">

          <span class="name">{{classification.node.label | translateValue}}</span>
          <span class="count">({{classification.count}})</span>
        </div>
      </div>
    </div>

    <div class="col-md-8">

      <div class="row mb-4">
        <div class="col-md-12">

          <app-filter-dropdown id="organization_filter_dropdown"
                               class="pull-left"
                               [options]="$ctrl.organizations"
                               [filter-subject]="$ctrl.organization$"></app-filter-dropdown>

          <app-filter-dropdown id="model_type_filter_dropdown"
                               class="pull-left ml-2"
                               [options]="$ctrl.modelTypes"
                               [filter-subject]="$ctrl.modelType$"></app-filter-dropdown>
        </div>
      </div>

      <div class="content-box">

        <div class="row mb-4">
          <div class="col-md-12">
            <div>
              <strong>{{$ctrl.filteredModels.length}}</strong>
              <span ng-show="$ctrl.filteredModels.length === 1" translate>model</span>
              <span ng-show="$ctrl.filteredModels.length !== 1" translate>models</span>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div id="{{model.prefix + '_filtered_model_link'}}" class="model" ng-repeat="model in $ctrl.filteredModels" ng-click="$ctrl.selectModel(model)">

              <span class="name">{{model.label | translateValue}}</span>

              <span class="type">{{model.normalizedType | translate}}</span>

              <span class="organization" ng-repeat="organization in model.contributors">
                {{organization.label | translateValue}}
              </span>

              <span class="group" ng-repeat="classification in model.classifications">
                {{classification.label | translateValue}}
              </span>

            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
