<div ng-if="!$ctrl.loading">

  <div class="row">
    <div class="col-md-3 mb-3">
      <div class="input-group input-group-lg input-group-search">
        <input class="form-control"
               type="text"
               ng-model="$ctrl.search"
               placeholder="{{'Search' | translate}}"/>
      </div>
    </div>
  </div>

  <div class="row">

    <div class="col-md-3">
      <div class="content-box">
        <h4 class="strong" translate>Classification</h4>

        <div ng-repeat="classification in $ctrl.classifications"
             class="classification"
             ng-class="{ active: $ctrl.isClassificationSelected(classification.node) }"
             ng-click="$ctrl.toggleClassification(classification.node)">

          <span class="name">{{classification.node.label | translateValue}}</span>
          <span class="count">({{classification.count}})</span>
        </div>
      </div>
    </div>

    <div class="col-md-9">

      <div class="row mb-4">
        <div class="col-md-12">

          <app-filter-dropdown class="pull-left"
                               [options]="$ctrl.organizations"
                               [filter-subject]="$ctrl.organization$"></app-filter-dropdown>

          <app-filter-dropdown class="pull-left ml-2"
                               [options]="$ctrl.modelTypes"
                               [filter-subject]="$ctrl.modelType$"></app-filter-dropdown>
        </div>
      </div>

      <div class="content-box">

        <div class="row mb-4">
          <div class="col-md-12">
            <div>
              <strong>{{$ctrl.filteredModels.length}}</strong>
              <span ng-show="$ctrl.filteredModels.length === 1" translate>model</span>
              <span ng-show="$ctrl.filteredModels.length !== 1" translate>models</span>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="model" ng-repeat="model in $ctrl.filteredModels" ng-click="$ctrl.selectModel(model)">

              <span class="name">{{model.label | translateValue}}</span>

              <span class="type">{{model.normalizedType | translate}}</span>

              <span class="organization" ng-repeat="organization in model.organization">
                {{organization.label | translateValue}}
              </span>

              <span class="group" ng-repeat="classification in model.classification">
                {{classification.label | translateValue}}
              </span>

            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
