<div class="top-actions">

  <button type="button"
          class="btn btn-link pull-right cancel"
          ng-click="$ctrl.ctrl.cancelEditing()"
          ng-show="$ctrl.ctrl.isEditing()">
    <span translate>Cancel</span>
  </button>

  <button type="button"
          class="btn btn-action pull-right save"
          ng-click="$ctrl.ctrl.saveEdited()"
          ng-show="$ctrl.ctrl.isEditing()"
          ng-disabled="$ctrl.form.$invalid || $ctrl.form.$pending">
    <span translate>Save</span>
  </button>

  <button type="button"
          class="btn btn-action pull-right edit"
          ng-click="$ctrl.ctrl.edit()"
          ng-show="$ctrl.ctrl.canEdit()">
    <span translate>Edit</span>
  </button>

  <button type="button"
          class="btn btn-link pull-right remove"
          ng-click="$ctrl.ctrl.removeEdited()"
          ng-show="$ctrl.ctrl.canRemove()">
    <i class="fas fa-trash-alt"></i>
    <span translate>Remove</span>
  </button>

  <ng-transclude></ng-transclude>

</div>
