<div uib-dropdown>
  <button class="btn btn-language" id="dropdownFilterLanguage" uib-dropdown-toggle>
    {{ctrl.localizeLanguageName(ctrl.language)}}
  </button>
  <div uib-dropdown-menu aria-labelledby="dropdownFilterLanguage">
    <button ng-repeat="option in ctrl.context.language"
            ng-class="{active: option === ctrl.language}"
            class="dropdown-item"
            ng-click="ctrl.language = option">
      {{ctrl.localizeLanguageName(option)}}
    </button>
  </div>
</div>
